@import '../../../sass//mixins';
@import '../../../sass/animations';

.create-gem {
    background-image: url('../../../image/gemstone-crystal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1%;

    & > h2 { @include h2; }
    & > h4 { @include h4; }

    & > .inner-create {
        @include form-template;
        overflow: hidden;

        & > .image-view {
            overflow: hidden;
            @include image-View;
            & h3 { @include h4; margin-top: 50%; }
            & > img { 
                width: 100%; 
                height: 596px;
                overflow: hidden;
            }
        }

        & > .create-form {
            @include create-form;

            & > h3 { @include h4; margin-bottom: 7%; }

            & > form {
                & > .row {
                    width: 100%;
                    display: flex;
                    margin: 5% 0;
                    justify-content: space-around;
                    & > span {
                        width: 50%;
                        text-align: right;
                        & > label { @include label; }
                        & > input { @include input-field; }
                    }

                    & > .create-submit-gem { @include details-button; }
                }
            }
        }
    }
}