@import '../../../sass/mixins';
@import '../../../sass/animations';

$mainWidth: 9.5rem;

.dropdown {
    & > .inner-dropdown {
        position: absolute;
        background: none;
        cursor: pointer;
        left: -1.7rem;
        display: none;
        padding: 0% 7% 10% 7%;
        border: none;
        width: 15rem;
        font-size: 16px;
        & > li {
            display: block;
            position: relative;
            left: 1rem;
            width: $mainWidth + 1;
            list-style: none;
            z-index: 99;

            & > a { 
                @include anchor; padding: 0.5rem; margin: 2px 0;
                & .hand-right { position: relative; left: 0.5rem; }
            }  
            
            & > .nested-navlink-gems {
                display: none;
                cursor: pointer;
                position: absolute;
                padding: 0;
                left: 9.4rem;
                top: -0.2rem;
                background: none;
                border: none;
                & > li {
                    width: $mainWidth;
                    list-style: none;
                    padding: 2px;
                    background: none;
                    & > a { 
                        @include anchor; padding: 0.5rem; margin: 2px 0;
                        & .hand-right { position: relative; left: 0.5rem; }
                    }   
                }
            } 

            & > .nested-navlink-jewels {
                display: none;
                cursor: pointer;
                position: absolute;
                padding: 0;
                left: 9.4rem;                
                top: -0.2rem;
                background: none;
                border: none;
                width: $mainWidth;
                & > li {
                    width: $mainWidth;
                    list-style: none;
                    padding: 2px;
                    background: none;
                    & > a { @include anchor; padding: 0.5rem; margin: 2px 0; }   
                }
            }    
        }      
        & .menu-gems:hover .nested-navlink-gems { display: block; }
        & .menu-jewels:hover .nested-navlink-jewels { display: block; }
    }

    &:hover .inner-dropdown { display: block; }
}