@import '../../../sass/mixins';
@import '../../../sass/animations';

nav { 
    background: rgb(21,140,186);
    position: fixed; 
    width: 100%;
    & .logo-navigation {
      width: 4rem;
      border-radius: 50%;
      margin: 0 1rem;
      animation: rotateLogo 10s 2s infinite;
    }
    
    & .navbar-brand { 
      font-size: 20px; 
      border-bottom: 1px solid rgb(21,140,186);
      border-top: 1px solid rgb(21,140,186);
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;

      &:hover {
        text-shadow: 1px 1px rgb(0,0,0);
        color: #fff;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
      }
    }

    & #navbarColor01 {
        width: 30%;
        & > ul > li { margin: 0 0.4rem; }
        & > ul > li > a {
            font-size: 20px;
            font-weight: 400;
            border-radius: 0.5rem;
            border-bottom: 1px solid rgb(21,140,186);
            border-top: 1px solid rgb(21,140,186);
            padding-left: 1.3rem;
            padding-right: 1.3rem;
            &:hover {
                color: #fff;
                border-bottom: 1px solid #fff;
                border-top: 1px solid #fff;
            }
        }

        & > .seen-only-by-admin {
            width: 23rem;
            display: block;
            margin: 0 auto;
            margin-right: 34%;
            & > h4 { 
                margin: 0; 
                color: goldenrod;
                font-weight: bold;
                text-shadow: 1px 1px rgb(0,0,0);
            }
        }
    }

    & > .logged-user-show {
        padding: 0 1%;
        display: flex;
        width: 16rem;
        justify-content: space-between;
        & > p {
            font-size: 20px;
            color: #fff;
            margin: 0;
            padding-top: 0.5rem;
            font-style: italic;
            & > span { 
                color: #fff; 
                font-weight: bold; 
                text-shadow: 1px 1px rgb(0,0,0);
            }
        }

        & > a {
            cursor: pointer;
            text-decoration: none;
            color: azure;
            font-size: 20px;
            border-radius: 0.5rem;
            border-bottom: 1px solid rgb(21,140,186);
            border-top: 1px solid rgb(21,140,186);
            &:hover {
                color: #fff;
                border-bottom: 1px solid #fff;
                border-top: 1px solid #fff;
            }
        }
    }
}

@media screen and (max-width: 1465px) {
    nav {
        & #navbarColor01 {
            width: 17%;
            & > .navbar-nav { margin: 0; }
            & > .seen-only-by-admin { margin: 0; }
            
        }

        & > .logged-user-show { width: 15rem; }
    }
}

@media screen and (max-width: 1137px) {
    nav {
        & #navbarColor01 {
            width: 17%;
            & > .navbar-nav { margin-right: 1%; } 
        }
       & > .logged-user-show {
           width: 13.5rem;
           padding: 0;
       }
    }
}

@media screen and (max-width: 300px) {
    nav {
        & .navbar-brand {
            margin: 0;
            font-size: 16px;
            width: 100%;
        }
       & > .logged-user-show {
             width: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
       }
    }
}

@media screen and (max-width: 180px) {
    nav {
        overflow: hidden;
        & .logo-navigation { margin: 0; width: 100%; }
        & > .navbar-toggler { width: 100%; }
        & .navbar-brand {
            font-size: 12px;
            padding-left: 0;
            padding-right: 0;
        }

        & > .logged-user-show {
            width: 100%;
            & > p { font-size: 14px; }
            & > p > span {
                width: 100%;
                font-size: 14px;
            }
        }
    }
}