@import '../../../sass//mixins';
@import '../../../sass/animations';

#JewelsSection {
    background-image: url('../../../image/gemstone-crystal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2%;
    & > h2 { @include h2; }
}