@import '../../../sass//mixins';
@import '../../../sass/animations';

.gemsSection {
    background-image: url('../../../image/gemstone-crystal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1%;
    & > h2 { @include h2; }
}

@media screen and (max-width: 240px) {
    .gemsSection { h2 { font-size: 20px; } }
}

@media screen and (max-width: 100px) {
    .gemsSection { h2 { font-size: 14px; } }
}

