@import '../../../sass//mixins';
@import '../../../sass/animations';

.enlargement-jewel {
    background-image: url('../../../image/gemstone-crystal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3%;

    & > h2 { @include h4; padding: 2% 0 }
    & > .border-image {
        width: 50%;
        margin: 1% auto;

        & > #large-image {
            cursor: pointer;
            border-radius: 0.5rem;
            -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.9);
            -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.9);
            box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.9);
        }
    }
}