@import '../../../../sass/mixins';
@import '../../../../sass/animations';

.upgrade-form {
    width: 38rem;
    margin: 2% auto;
    & > h3 { @include h4; }
    & > h4 { @include h2; }

    & > form {
        width: 100%;
        margin: 5% 0;
        & > .form-group {
            display: flex;
            justify-content: center;
            & > .upgradeSet { width: 9.5rem; outline: none; margin-right: 5%; }
            & > .gems-upgrade-btn { @include edit-button; padding: 0.3rem 1rem; }
        }
    }
}

@media screen and (max-width: 780px) {
    .upgrade-form {
        width: 100%;
        & > h4 { font-size: 22px; }
    }
}

@media screen and (max-width: 400px) {
    .upgrade-form {
        & > h3 { font-size: 22px; }
        & > h4 { font-size: 16px; }
        & > form > .form-group {
            flex-direction: column;
            & > .upgradeSet { margin: 2% auto; width: 60%; }
            & > button { margin: 2% auto; padding: 0.3rem 1rem; }
         }
    }
}

@media screen and (max-width: 200px) {
    .upgrade-form {
        & > h3 { font-size: 20px; }
        & > h4 { font-size: 16px; }
        & > form > .form-group {
            flex-direction: column;
            & > .upgradeSet { margin: 5% auto; width: 100%; }
            & > .gems-upgrade-btn { 
                margin: 5% auto; 
                padding: 5% 0; 
                width: 100%; }
         }
    }
}

@media screen and (max-width: 200px) {
    .upgrade-form {
        & > h3 { font-size: 16px; }
    }
}