@import '../../../sass//mixins.scss';
@import '../../../sass/animations.scss';

.support {
    background-image: url('../../../image/gemstone-crystal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3%;
    & > h2 { @include h2; }

    & > .inner-support {
        @include inner-template;
        width: 50rem;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: skew 15s 3s linear forwards;

        & > .box {
            height: 25rem;
            width: 30rem;
            & > h3 { @include h2; }
            & > div {
                text-align: left;
                & > p { 
                    padding-left: 20%;
                    font-weight: bold;
                    font-size: 24px;
                    & > .windows,
                    & > .android,
                    & > .chrome,
                    & > .firefox,
                    & >.edge {
                        font-size: 24px;
                        margin-right: 1rem;
                        margin-top: 0.4rem;
                    }

                    & > span { padding-bottom: 0.3rem; }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .support {
        & > .inner-support { width: 40rem; height: auto; padding-top: 5%; }
        & > .inner-support > .box > h3 { font-size: 24px; }
        & > .inner-support > .box > div > .row > span { font-size: 20px; }
        & > .inner-support > .box > div > .row > svg { font-size: 20px;  }
    }
}

@media screen and (max-width: 750px) {
    .support {
        & > .inner-support { width: 85%; }
        // & > .inner-support > .box > h3 { font-size: 22px; }
        // & > .inner-support > .box > div > .row > span { font-size: 16px; }
        // & > .inner-support > .box > div > .row > svg { font-size: 16px;  }
    }
}

@media screen and (max-width: 550px) {
    .support {
        & > .inner-support > .box > h3 { font-size: 22px; }
        & > .inner-support > .box > div > .row > span { font-size: 16px; }
        & > .inner-support > .box > div > .row > svg { font-size: 16px;  }
    }
}

@media screen and (max-width: 350px) {
    .support {
        & > .inner-support > .box > h3 { font-size: 20px; }
        & > .inner-support > .box > div > .row > span { font-size: 14px; }
        & > .inner-support > .box > div > .row > svg { font-size: 14px;  }
        & > .inner-support > .box > div > .row { 
            overflow: hidden;
            padding-left: 15%; 
        }
    }
}

@media screen and (max-width: 280px) {
    .support {
        & > .inner-support { width: 98%; }
        & > .inner-support > .box > h3 { font-size: 18px; }
        & > .inner-support > .box > div > .row > span { font-size: 12px; }
        & > .inner-support > .box > div > .row > svg { font-size: 12px;  }
    }
}

@media screen and (max-width: 210px) {
    .support {
        & > h2 { font-size: 22px; }
        & > .inner-support { width: 100%; padding: 0 10%; }
        & > .inner-support > .box { height: auto; }
        & > .inner-support > .box > h3 { font-size: 16px; }
        & > .inner-support > .box > div > .row > span { font-size: 10px; }
        & > .inner-support > .box > div > .row > svg { font-size: 10px;  }
    }
}