@import '../../../sass//mixins.scss';
@import '../../../sass/animations.scss';

#support {
    background-image: url('../../../image/gemstone-crystal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3%;
    & > h2 { @include h2; }

    & > .inner-support {
        @include inner-template;
        width: 50%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: skew 15s 3s linear forwards;

        & > .box {
            height: 25rem;
            width: 30rem;
            & > h3 { @include h2; }
            & > div {
                text-align: left;
                & > p { 
                    padding-left: 20%;
                    font-weight: bold;
                    font-size: 24px;
                    & > .windows,
                    & > .android,
                    & > .chrome,
                    & > .firefox,
                    & >.edge {
                        font-size: 24px;
                        margin-right: 1rem;
                        margin-top: 0.4rem;
                    }

                    & > span { padding-bottom: 0.3rem; }
                }
            }
        }
    }
}