.myGem {
    width: 15rem;
    margin: 2%;
    overflow: hidden;
    border-radius: 0.4rem;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);

    &:hover { 
        transform: scale(1.05); 
        -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.95);
        -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.95);
        box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.95);
    }

    & > a {
        text-decoration: none;
        cursor: pointer;

        & > .gem-name,
        & > .gem-set {
            font-weight: bold;
            color: #495057;
            background: #fff;
            margin: 0;
        }
        & > img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 250px) {
    .myGem > a > .gem-name,
    .myGem > a > .gem-set { font-size: 14px;

    }
}

@media screen and (max-width: 200px) {
    .myGem > a > .gem-name,
    .myGem > a > .gem-set { font-size: 12px;

    }
}