
@mixin h2 {
    font-weight: bold; 
    color: #FFF; 
    padding: 1% 0; 
    text-shadow: 1px 1px rgb(0,0,0);
}

@mixin h3 {
    font-weight: bold; 
    color: rgb(21,140,186); 
    text-shadow: 1px 1px rgb(255,255,255);
}

@mixin h4 {
    font-weight: bold; 
    color: #495057;
    text-shadow: 1px 1px rgb(255,255,255);
}

@mixin anchor {
    cursor: pointer;
    position: relative;
    display: block;
    width: $mainWidth;
    text-decoration: none;  
    border: none;            
    background: #CFE7F1;
    border: 2px solid #CFE7F1;
    color: rgb(21,140,186);
    font-size: 18px;
    border-radius: 0.5rem;
    z-index: 100;
    &:hover {
        background: rgb(21,140,186);
        color: #CFE7F1;
        border: 2px solid #CFE7F1;
    }
}

@mixin edit-button {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1.2rem;
    background: goldenrod;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    margin-right: 0.7rem;
    &:hover {
        background: #fff;
        color: goldenrod;
        border: 1px solid goldenrod;
    }
}

@mixin details-button {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1.2rem;
    background: rgb(21,140,186);
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    margin-right: 0.7rem;
    &:hover {
        background: #fff;
        border: 1px solid rgb(21,140,186);
        color: rgb(21,140,186);
    }
}

@mixin trash-button {
    cursor: pointer;
    float: right;
    position: relative;
    outline: none;
    border: none;
    background: none;
    top: -1rem;
    & > .trash { 
        color: #F73F34;
        &:hover { color: #000; }
    }
}

@mixin inner-template {
    background: rgba(21,140,186, 0.7);
    background: radial-gradient(circle, rgba(255,255,255,0.9) 12%, rgba(21,140,186,0.8) 65%);
    margin: 3% auto;
    padding: 2%;
    border: 2px solid rgba(21,140,186,1);
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
}

@mixin inner-details-template {
    background: rgba(21,140,186, 0.5);
    background: radial-gradient(circle, rgba(255,255,255,0.7) 12%, rgba(21,140,186,0.7) 65%);
    width: 64rem;
    height: 500px;
    margin: 0.5% auto;
    padding: 2%;
    border: 2px solid rgba(21,140,186,1);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
}

@mixin form-template {
    width: 60%;
    height: 500px;
    border: 2px solid rgb(21,140,186);
    border-radius: 0.5rem;
    margin: 2% auto;
    display: flex;
    -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
}

@mixin label {
    display: block;
    margin-right: 3%; 
    text-transform: uppercase; 
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px rgb(255,255,255);
}

@mixin input-field {
    width: 90%;
    display: block;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    border: 2px solid lightgrey;
    padding: 0.3rem 1.3rem;

     //focus placeholder for Chrome
     &:focus,
     &:focus::-webkit-input-placeholder { border-color: #158CBA; color: #158CBA; }

     //focus placeholder for FireFox 19+
     &:focus,
     &:focus::-moz-placeholder { border-color: #158CBA; color: #158CBA; }

     //focus placeholder for FireFox 18-
     &:focus,
     &:focus:-moz-placeholder { border-color: #158CBA; color: #158CBA; }

     //focus placeholder for Internet Explorer
     &:focus,
     &:focus:-ms-input-placeholder { border-color: #158CBA; color: #158CBA; }
}

@mixin image-View {
    background: rgba(21,140,186, 0.7);
    background: radial-gradient(circle, rgba(255,255,255,0.5) 12%, rgba(21,140,186,0.5) 65%);
    width: 40%;
}

@mixin create-form {
    background: rgba(21,140,186, 0.7);
    background: radial-gradient(circle, rgba(255,255,255,0.5) 12%, rgba(21,140,186,0.5) 65%);
    width: 60%;
    border-left: 2px solid rgb(21,140,186);
    padding: 5% 2% 5% 5%;
}

@mixin model {
    background: #fff;
    cursor: pointer;
    width: 21%;
    overflow: hidden;
    border-radius: 0.4rem;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    &:hover { 
        transform: scale(1.05); 
        -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.95);
        -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.95);
        box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.95);
    }
}

@mixin pagination {
    width: 30%;
    margin: 2% auto;
    & > ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 5rem;

        & > li {
            cursor: pointer;
            user-select: none;
            margin: 0 0.7rem;
            & > a {
                &:hover { background: rgb(21,140,186); color: #fff; }
            }
        }        
    }
}

//Contacts Section
@mixin contact {
    opacity: 0;
    font-size: 22px;
    margin: 1%;
    font-style: italic;
    font-weight: bold;
    color: #fff; 
    text-shadow: 1px 1px rgb(0,0,0);
    & > span { font-style: normal; font-weight: normal; }
}

@mixin contact-logo {
    width: 8rem; 
    border-radius: 0.4rem;
    border: 1px solid #fff;
    padding: 2px;
}
