@import '../../sass/mixins';
@import '../../sass/animations';

.table {
    max-width: 100%;
    cursor: pointer;
    margin: 0 auto;

    & > tbody > tr > td > .info-user {
        background: none;
        margin-right: 0.7rem;
        font-size: 20px;
        text-decoration: none;
        &:hover { 
           color: #fff; 
           border-bottom: 1px solid #fff;
           text-shadow: 1px 1px #158CBA;
        }
    }

    & > tbody > tr > td > .delete-user {
        border: none;
        background: none;
        font-size: 20px;
        font-weight: bold;
        color: #F73F34;
        text-shadow: 1px 1px rgb(0,0,0);
        &:hover {
            color: #fff;
            text-shadow: 1px 1px #F73F34;
        }
    }

    & > tbody > tr > td {
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px rgb(0,0,0);
    }
}

@media screen and (max-width: 1200px) {
    .table {
        & > thead,
        & > tbody,
        & > tfoot { 
            max-width: 100%;
            margin: 0 auto;
            & > tr > td,
            & > tr > th,
            & > tr { 
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .table {
        width: 50%;
        & > thead,
        & > tbody,
        & > tfoot { 
            & > tr {
                display: flex;
                flex-direction: column;
            }
        } 
    }
}

@media screen and (max-width: 360px) {
    .table {
        & > thead,
        & > tbody,
        & > tfoot { 
            width: 100%;
            overflow: hidden;
            & > tr,
            & > tr > td {
               width: 100%;
               overflow: hidden;
               padding-left: 0;
               padding-right: 0;
            }
        } 
    }
}