@import '../../../sass/mixins';
@import '../../../sass/animations';

.footer  {
    background: rgb(21,140,186);
    display: block;
    width: 100%;
    padding: 1% 0 0 0;
    color: #fff;
    & .services {
        width: 100%;
        display: flex;
        justify-content: space-around;

        & .contacts {
            width: 20%;
            text-align: left;
            & > h5 { color: #fff; }
            & div span { font-size: 18px; }
            & div:nth-of-type(1) { 
                & span { margin-left: 0.3rem; }
                & div { margin-left: 1.5rem; font-size: 18px; }
            }

            & div span .map-marker,
            & div span .globe-europe,
            & div span .envelope,
            & div span .phone { position: relative; top: 0.3rem; }
        }

        & .links {
            width: 16%;
            color: #fff;
            text-align: left;
            & h5 { margin-left: 20%; color: #fff; }
            & ul > li { list-style: none;  }
            & ul > li > a { 
                text-decoration: none; 
                font-size: 18px;
                color: #fff;
                cursor: pointer;
                &:hover {
                    padding-left: 1rem;
                    text-shadow: 1px 1px rgb(0,0,0);
                }
            }
        }

        & .copyright {
            text-align: left;
            padding-top: 1%;
            & div { font-size: 18px; }
            & .live-time {
                text-align: left;
                margin: 1% 0;
                & .clock { position: relative; top: 0.4rem; font-size: 28px; margin-left: 0.3rem; }
                & .time { 
                    font-size: 20px; 
                    margin-left: 10px; 
                    position: relative; 
                    top: 0.3rem;
                }
            }

            & > .temperature {
                position: relative;
                padding: 0 1%;
                & > .weather-icon { font-size: 28px; }
                & > .weather-content {
                    position: relative;
                    font-size: 18px;
                }
            }
        }

        & .connect {
            width: 20%;
            padding-top: 1%;

            & .icons {
                margin: 3% auto;
                width: 13rem;
                display: flex;
                justify-content: space-around;
                & #github,
                & #linkedin,
                & #facebook,
                & #twitter,
                & #gitlab,
                & #skype { font-size: 24px; }
            }
        }
    }

    & .footer-bottom {
        padding: 1% 0;

        & #react {
            font-size: 60px;
            color: #fff;
            animation: rotateReact 5s linear infinite;
        }
        & > div {
            margin: 0; 
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            font-style: italic;
         }
    }
}

@media screen and (max-width: 1179px) {
    .footer {
        & > .services { 
            & > .contacts { width: 25%; }
        }
    }
}


@media screen and (max-width: 1015px) {
    .footer {
        padding: 2%;
        
        & > .services {
            flex-wrap: wrap;
            & > .contacts,
            & > .links,
            & > .connect,
            & > .copyright {
                width: 45%;
                & > h5,
                & > div,
                & > p {
                    width: 60%;
                    margin: 0 auto;
                }

                & ul { padding: 0; }
                & .live-time { margin: 0 auto; }
            }

            & > .connect { 
                text-align: left; 
                & > .icons {  width: 65%; }
            }
        }
    }
}

@media screen and (max-width: 909px) {
    .footer {
        padding: 2% 0;
        & > .services {
            & > .contacts,
            & > .links,
            & > .connect,
            & > .copyright {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 791px) {
    .footer {
        padding: 2% 0;
        & > .services {
            flex-direction: column;
            justify-content: center;
            & > .contacts,
            & > .links,
            & > .connect,
            & > .copyright {
                width: 25rem;
                margin: 2% auto;
            }
        }
    }
}

@media screen and (max-width: 401px) {
    .footer {
        & > .services {
            flex-wrap: wrap;
            & > .contacts,
            & > .links,
            & > .connect,
            & > .copyright {
                width: 97%;
                & > h5,
                & > div,
                & > p {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 271px) {
    .footer {
        & .services .contacts div span,
        .services .links ul > li > a,
        .services .copyright div { font-size: 14px; }
        & .footer-bottom .text-center { font-size: 16px; }
    }
}

@media screen and (max-width: 213px) {
    .footer {
        & .services .contacts div span,
        .services .links ul > li > a,
        .services .copyright div { font-size: 10px; }
        & .footer-bottom .text-center { font-size: 14px; }
        & > .services {
            & > .contacts {
                & > h5, 
                & > div { margin: 0;
                    width: 100%;
                    overflow: hidden;
                    & > .email { 
                        width: 100%; 
                        font-size: 8px;
                    }
                }
            }

            & > .connect {
                & > .icons {
                    display: flex;
                    flex-direction: column;
                    & > svg { margin: 5% auto; }
                }
                & > div { margin: 0; margin-right: 0; }
            }

            & > .copyright {
                width: 100%;
                margin: 0;
                margin-bottom: 20%;
                & > div {
                    margin: 0;
                    margin-right: 0;
                    padding-left: 5%;
                }

                & > .live-time > .fa-clock { 
                    margin: 20% auto; 
                    text-align: center; 
                    display: block;
                    font-size: 38px;
                }
                & > .live-time > .time { 
                    font-size: 16px;
                    margin-bottom: 20%; 
                }
            }
        }
       
    }
}