@import '../../../sass/mixins';
@import '../../../sass/animations';

.info-user {
    padding: 2%;
    background-image: url('../../../image/gemstone-crystal.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    & > h2 { @include h2; }

    & > .inner-info-user {
        @include inner-template;
        padding: 3% 6%;
        width: 80rem;

        & > .info {
            background-color: rgba(0,0,0, 0.3);
            border: 2px solid #fff;
            border-radius: 0.5rem;
            padding: 2%;

            & > .main-info,
            & > .advanced-info {
                width: 100%;
                display: flex;
                justify-content: space-between;
                & > p {
                    font-size: 20px;
                    color: #FFF;
                    font-weight: bold;
                    text-shadow: 1px 1px rgb(0,0,0);
                    & > span { font-weight: normal; }
                }
            }

            & > button {
                cursor: pointer;
                background: none;
                outline: none;
                border: none;
                color: #F73F34;
                font-weight: bold;
                font-size: 20px;
                text-shadow: 1px 1px rgb(0,0,0);
                border-bottom: 1px solid #F73F34;
                &:hover { 
                    color: #fff; 
                    border-color: #FFF;
                }
            }
        }

        & > #accordion {
            margin-top: 3rem;
            background-color: rgba(0,0,0, 0.3);
            border: 2px solid #fff;
            border-radius: 0.5rem;
            padding: 2%;
            & > .card {
                background: none;
                border: none;
                & > .card-header {
                    position: relative;
                    background: none;
                    border: none;
                   
                    & > .view-profile {
                        font-size: 20px;
                        background: none;
                        border: none;
                        outline: none;
                        color: rgb(21,140,186);
                        font-weight: bold;
                        text-shadow: 1px 1px rgb(255,255,255);
                        border-bottom: 1px solid #fff;
                        &:hover {
                            color: #fff;
                            text-shadow: 1px 1px rgb(21,140,186);
                        }
                    }
                }
        
                & > .card-body {
                    width: 26rem;
                    margin: 2% auto;
                    border-radius: 0.5rem;
                    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
                    
        
                    & > h4 { @include h2; }
                    & > form {
                        width: 100%;
                        padding: 3% 1%;
                        & > div {
                            width: 100%;
                            margin: 6% 0;
                            display: flex;
                            justify-content: space-between;
                            & > label { @include label; }
                            & > input { @include input-field; width: 60%; }
                        }
        
                        & > .save-change { @include edit-button; }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1360px) {
    .info-user {
        & > .inner-info-user {
            width: 96%;
            padding: 3%;
        }
    }
}

@media screen and (max-width: 1100px) {
    .info-user {
        & > .inner-info-user {
            width: 96%;
            padding: 3%;
            & > .info {
                & > .main-info > p,
                & > .advanced-info > p { font-size: 16px; }
            }
        }
    }
}


@media screen and (max-width: 850px) {
    .info-user {
        & > h2 { font-size: 26px; }
        & > .inner-info-user {
            & > .info {
                padding: 3% 0;
                & > .main-info,
                & > .advanced-info {
                    flex-direction: column;
                    & > p { margin: 2% auto; }
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .info-user {
        & > h2 { font-size: 24px; }
        & > .inner-info-user {
            & > #accordion {
                width: 97%;
                & > .card > .card-body {
                    width: 97%;
                }
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .info-user {
        & > h2 { font-size: 22px; }
        & > .inner-info-user {
            & > .info > .main-info > p { font-size: 14px; }
            & > #accordion {
                & > .card > .card-body {
                    & > form > .row {
                        flex-direction: column;
                        & > input { width: 100%; }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 200px) {
    .info-user {
        overflow: hidden;
        & > h2 { font-size: 20px; }
        & > .inner-info-user {
            overflow: hidden;
            & > .info > .main-info > p { font-size: 12px; }
            & > #accordion {
                overflow: hidden;
                & > .card > .card-body {
                    & > form > .row {
                        flex-direction: column;
                        & > input { width: 100%; }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 130px) {
    .info-user {
        overflow: hidden;
        & > h2 { font-size: 18px; }
        & > .inner-info-user {
            & > .info > .main-info > p { font-size: 10px; }
        }
    }
}